/* styles.css */

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #820909;
    text-align: left;
    white-space: normal;
    /* or white-space: wrap; */
}

.styled-table th {
    background-color: #1b962b;
    text-align: left;
}