/* styles.css */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}

td {
    padding: 12px 15px;
    text-align: left;
    white-space: normal;
    /* or white-space: wrap; */
}

 th {
    text-align: left;
}