<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data from Database</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>

<body>
    <h1>C3.ai, Inc. {{ table_name }}</h1>
    <table border="1">
        <thead>
            <tr>
                {% for column_name in column_names %}
                <th>{{ column_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for value in row %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>