<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Remove the line below if you don't have a local styles.css file -->
    <!-- <link href="{{ url_for('static', filename='styles.css')}}" rel="stylesheet" type="text/css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Andy's Blog</title>
</head>


<body class="p-3"> <!-- Add padding to the body -->    
    <div class="container"> <!-- Wrap your content in a container to add standard margins -->
    <p>Andy's Stock BlogGIN</p>
    <h1>{{ info.underlyingSymbol }}</h1>
    <p>Name: {{ info.longName }}</p>
    <p>Symbol: {{ info.symbol }}</p>
    <p>Sector: {{ info.sector }}</p>
    <p>Industry: {{ info.industry }}</p>
    <!-- <p>Business Summary:<br>{{ info.longBusinessSummary }}</p> -->
    Figs went public on 2021-05-27 with a closing price of $30.02.  The stock's underperformance since the IPO has been due to a variety of factors including, but not limited to, excessive valuation when going public, slowing growth rates, cash burn, and covid related operating challenges.  The stock is interesting for a variety of reasons due to the valuation reset, improved operating metrics, strategy change and market opportunity.  Figs is creating a brand and shaking up the uniform market for healthcare professionals. Cintas, Corp., the uniform company, has a market cap of 61 billion and Lululemon's market cap has surpassed Target Corp's as of today, so if this works, it could work for a while.</p>
    <p>Current Price: {{ info.currentPrice }}</p>
    <p>Previous Close: {{ info.previousClose }}</p>
    <p>Open: {{ info.open }}</p>
    <p>Days' Low: {{ info.dayLow }}</p>    
    <p>Full Time Employees: {{ info.fullTimeEmployees }}</p>
    <p>50 Day Moving Average: {{ info.fiftyDayAverage }}</a></p>
    <p>Relative to 50 Day Moving Average: {{ info.relto50 }}</a></p>
    <p>200 Day Moving Average: {{ info.twoHundredDayAverage }}</a></p>
    <p>200 Day Moving Average: {{ info.twoHundredDayAverage }}</a></p>

    <table class="styled-table">
        <th>Q1 FY24</th><th>Q4 FY23</th><th>Q3 FY23</th><th>Q2 FY23</th><th>Q1 FY23</th>
        <tr><td>Revenue</td></tr>
        <tr><td>Gross profit GAAP</td></tr>
        <tr><td>Gross profit non-GAAP</td></tr>
        <tr><td>Gross margin GAAP</td></tr>
        <tr><td>Gross margin non-GAAP</td></tr>
        <tr><td>Operating loss GAAP</td></tr>
        <tr><td>Operating loss non-GAAP</td></tr>
        <tr><td>Operating margin GAAP</td></tr>
        <tr><td>Operating margin non-GAAP</td></tr>
        <tr><td>Net loss per share GAAP</td></tr>
        <tr><td>Net loss per share non-GAAP</td></tr>
        <tr><td>Weighted-average shares used in<br>
            computing net loss per share <br>attributable
             to common stockholders,<br> basic and diluted
        </td></tr>
    </table>
    </div>
</body>
</html>