<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Page</title>
</head>

<body>
    <h1>{{ info.symbol}}</h1>
    <p>Symbol: {{ info.symbol}}</p>
    <p>Previous Close: {{ info.previousClose }}</p>
    <p>Open: {{ info.open }}</p>
    <p>Days' Low: {{ info.dayLow }}</p>
    <p>Full Time Employees: {{ info.fullTimeEmployees }}</p>
    <p>Website: <a href= >{{ info.website }}</a></p>
    </body>

</html>